<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=
"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
<style>
	body{
		        background-image: url("pictures/studentbg.jpg");
                background-repeat: no-repeat;
                background-size: cover;
	}
	.logo{
                padding-left: 120px;
                padding-top: 20px;
            }
    .logocs{
                height: 110px;
                width: 300px;
	}
    .container{
		padding-top: 110px;
	}
	.main{
	padding:40px;
	font-family: 'Helvetica', serif;
	/*box-shadow: 5px 5px 7px 5px #888888;*/
	background-color: rgba(255,255,255,0.5);
	
}
.main h1{
	font-size: 40px;
	text-align:center;
	font-family: 'Helvetica', serif;
	
}
.main h3{
	margin-left: 175px;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
input{
	font-family: 'Helvetica', serif;
	width: 100%;
	font-size: 20px;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
	border-bottom: 2px solid #767474;
}
input[type=submit] {
	font-family: 'Helvetica', serif;
	width: 100%;
	background-color: #d13131;
	border: none;
	color: white;
	padding: 16px 32px;
	margin: 10px 2px;
	border-radius: 10px;
}
input[type=submit]:hover{
	background-color: #0c09ca;
	transition: 0.5s ease;
}

</style>

    <title>CUEMS</title>
</head>
<body>
   <br>
	<br>
	<br>
	<div class="container" >
		<div class="row">
		<div class="col-md-3">
					
		</div>		
		<div class="col-md-6 main">
					
			<form action="/login2" method="POST">
					
			<div class="logo"><img src = "pictures/logo1.png" class="logocs"></div>
            <h3>Admin Login</h3>
							
			<input  type="text" name="id" id="id"
			placeholder="ID" required /><br>
							
							
			<input class="box" type="password" name="password"
			id="password" placeholder="Password " required/><br>

			<input type="submit" id="submitDetails"
			name="submitDetails" value="Login" /><br>
					
			</form>
					
		</div>
				
				
		<div class="col-md-3">
		</div>
				
	</div>
	</div>
</body>
</html>