<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=
"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
<style>
	.main{
	padding:20px;
	font-family: 'Helvetica', serif;
	box-shadow: 5px 5px 7px 5px #888888;
	
}
.main h1{
	font-size: 40px;
	text-align:center;
	font-family: 'Helvetica', serif;
	
}
input{
	font-family: 'Helvetica', serif;
	width: 100%;
	font-size: 20px;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
	border-bottom: 2px solid #767474;
}
input[type=submit] {
	font-family: 'Helvetica', serif;
	width: 100%;
	background-color: #767474;
	border: none;
	color: white;
	padding: 16px 32px;
	margin: 4px 2px;
	border-radius: 10px;
}

</style>

    <title>CUEMS</title>
</head>
<body>
   <br>
	<br>
	<br>
	<div class="container" >
		<div class="row">
		<div class="col-md-3">
					
		</div>		
		<div class="col-md-6 main">
					
			<form action="/register2" method="POST">
					
			<h1> CU-EMS </h1>
							
			<input  type="text" name="id" id="id"
			placeholder="ID" required /><br>
							
							
			<input class="box" type="password" name="password"
			id="password" placeholder="Password " required/><br>

			<input type="submit" id="submitDetails"
			name="submitDetails" value="Register" /><br>
					
			</form>
					
		</div>
				
				
		<div class="col-md-3">
		</div>
				
	</div>
	</div>
</body>
</html>